# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
ENV/
env/
.venv/

# Logs & exports
logs/*.log
logs/*.csv
logs/exports/
logs/archive/

# System junk
.DS_Store
Thumbs.db

# Local configs
config_local.py
.env
config.secrets.py
